<div class="animal-card">
  <div class="card-media">

    <div class="carousel-wrapper">
      @if (photos && photos.length > 0) {
        <div class="slides-container">
          <img [src]="'http://localhost:5036' + photos[currentIndex].fileUrl"
               [alt]="name"
               class="carousel-img">
        </div>

        @if (photos.length > 1) {
          <button class="nav-btn prev" (click)="prevSlide($event)">‹</button>
          <button class="nav-btn next" (click)="nextSlide($event)">›</button>

          <div class="indicators">
            @for (p of photos; track p.id; let i = $index) {
              <span class="dot"
                    [class.active]="i === currentIndex"
                    (click)="setSlide($event, i)">
              </span>
            }
          </div>
        }
      } @else {
        <div class="placeholder-container" [ngClass]="animalType === 'cat' ? 'cat-bg' : 'dog-bg'">
          @if (animalType === 'cat') {
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="4" r="2"/><circle cx="18" cy="8" r="2"/><circle cx="20" cy="16" r="2"/><path d="M9 10a5 5 0 0 1 5 5v3.5a3.5 3.5 0 0 1-6.84 1.045Q6.52 17.48 4.46 16.84A3.5 3.5 0 0 1 5.5 10Z"/></svg>
          } @else {
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M10 5.172C10 3.782 8.423 2.679 6.5 3c-2.823.47-4.113 6.006-4 7 .08.703 1.725 1.722 3.656 1 1.261-.472 1.96-1.45 2.344-2.5"/><path d="M14.267 5.172c0-1.39 1.577-2.493 3.5-2.172 2.823.47 4.113 6.006 4 7-.08.703-1.725 1.722-3.656 1-1.261-.472-1.855-1.45-2.239-2.5"/><path d="M12 21s8-2.272 8-6.444c0-1.061-.162-2.2-.493-3.309m-9.243-6.082A8.801 8.801 0 0 1 12 5"/></svg>
          }
        </div>
      }
      <div class="gender-badge" [class.girl]="gender === 'Дівчинка'" [class.boy]="gender === 'Хлопчик'">
        {{ gender | uppercase }}
      </div>
    </div>
  </div>

  <div class="card-content">
    <div class="header-row">
      <h3>{{ name }}</h3>
    </div>
    <p class="breed-text">{{ breed }}</p>

    <div class="stats-grid">
      <div class="stat">
        <span class="label">Вага:</span>
        <span class="value">{{ weight }} кг</span>
      </div>
      <div class="stat">
        <span class="label">Стерилізація:</span>
        <span class="value">{{ isSterilized ? 'Так' : 'Ні' }}</span>
      </div>
    </div>
  </div>
</div>
